.openModal{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.openModalBtn {
  margin-right: 10px;
    padding: 10px;
    color: darkslategray;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}