.root {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  height: 50px;
  background: #007FFF;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;



  a {
    color: #fff;
    filter: brightness(.8);

    &:hover {
      filter: brightness(1);
    }
  }
}

.active {
  filter: brightness(1) !important;
  cursor: default;
}