.background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
}

.modal{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    background: teal;
    margin: 0 auto;
    border-radius: 10px;
    padding: 25px;
    position: relative;
}

.cross {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    border-radius: 50%;
    border-style: none;
    background: tomato;
    cursor: pointer;

}