.countItem {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-radius: 2px;
  border: 1px solid gray;
  position: relative;

  .wrapper {
    display: flex;
    align-items: center;

    div {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  span {
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
  }
}

.buyButton {
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
