body {
  background-image: url(../img/Фон_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.nav-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  margin: 18px 0px;
  margin-left: 79px;
}

.nav-title:hover {
  color: #236c47;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-img-calendar,
.nav-img-mail {
  padding-right: 27px;
}

.link-img-calendar:hover .nav-img-calendar {
  fill: #236c47;
}

.link-img-mail:hover .nav-img-mail {
  fill: #236c47;
}

.link-img-compass:hover .nav-img-compass {
  fill: #236c47;
}

.nav-link {
  margin-left: 26px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.nav-link::before {
  content: "";
  display: inline;
  border-left: 1px solid;
  color: rgba(255, 255, 255, 0.9);
  width: 1px;
  height: 19px;
  opacity: 0.5;
  margin-right: 27px;
}

.login-link {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.login-link:hover {
  color: #236c47;
}

.sign-link {
  margin-right: 79px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.sign-link:hover {
  color: #236c47;
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: calc(50% - 584px) calc(50% - 222px);
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.shape-img {
  position: absolute;
  top: 29px;
  left: 0px;
}

.form-title {
  display: flex;
  justify-content: space-between;
}

.signup-form {
  margin: 31px 0px 15px 61px;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.link-form {
  margin: 33px 59px 13px 216px;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}

.link-form:hover {
  color: #01813f;
  text-decoration: underline;
}

.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.fb-button {
  background: #305db8;
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.fb-button:hover {
  background: #022263;
}

.fb-img {
  padding: 12px 18px;
}

.fb-link::before {
  content: "";
  border-left: 1px solid;
  color: #0a162f;
  opacity: 0.1;
  height: 28px;
  margin-right: 18px;
}

.fb-link {
  padding: 12px 22px 12px 0;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.g-button {
  background: #df4a32;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.g-button:hover {
  background: #ab1f09;
}

.g-img {
  padding: 15px 7px 14px 12px;
}

.g-link::before {
  content: "";
  border-left: 1px solid;
  color: #0a162f;
  opacity: 0.1;
  height: 28px;
  margin-right: 30px;
}

.g-link {
  padding: 12px 28px 12px 0;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.underline-title {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  margin-bottom: 11px;
  text-align: center;
}

.underline-title::before {
  content: "";
  width: 152px;
  height: 1px;
  display: inline-block;
  border-bottom: 1px solid;
  color: #f2f2f2;
  margin-bottom: 3px;
}

.underline-title::after {
  content: "";
  width: 152px;
  height: 1px;
  display: inline-block;
  border-bottom: 1px solid;
  color: #f2f2f2;
  margin-bottom: 3px;
}

.form-regist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-name::placeholder {
  color: #434343;
}

.first-name,
.last-name,
.e-mail,
.pass {
  width: 324px;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  padding: 16px 0px 16px 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  outline: none;
}

.first-name:focus,
.last-name:focus,
.e-mail:focus,
.pass:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox {
  margin-bottom: 20px;
  width: 346px;
  display: flex;
  align-items: flex-start;
}

.checkbox-input {
  margin-left: 0px;
  margin-right: 8px;
}

.checkbox-title {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}
.checkbox-title-hover {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}

.checkbox-title-hover:hover {
  color: #01813f;
  text-decoration: underline;
}

.submit-hover {
  margin-bottom: 38px;
}
.submit-hover:active {
  background: #01813f;
}

.submit {
  width: 346px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
