body {
  font-family: "Montserrat", sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 25px 330px;
}

.navigation-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff0000;
}

.main-photo {
  width: 100%;
  overflow: hidden;
  margin-bottom: 49px;
}

.main-section {
  text-align: center;
}

.main-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 38px;
  color: #373737;
}

.first-title-par {
  font-size: 16px;
  line-height: 26px;
  color: #373737;
  margin: 0px 67.5px 28px 67.5px;
}

.second-title-par {
  font-size: 16px;
  line-height: 26px;
  color: #373737;
  margin: 0px 67.5px 66px 67.5px;
}

.main-button {
  background: #ff0000;
  padding: 18px 42px;
  border: none;
  margin-bottom: 82px;
}

.main-button-link {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.footer-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
  margin: 0px 105px 29px 713px;
}
