body {
  font-family: sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header-link {
  display: inline-block;
  text-decoration: none;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  margin-top: 63px;
  margin-bottom: 38px;
}

.header-link-cust {
  color: #4bcaff;
}

.header-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 48px;
  background: #35444f;
}

.header-nav-item-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  padding: 25px 38px 20px 38px;
  border-left: 1px solid #ffffff;
  transition: all 500ms;
}

.header-nav-item-link:hover {
  background-color: #222f3a;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar-menu {
  border: 1px solid #485863;
  width: 30%;
}

.menu-item {
  list-style: none;
}

.menu-item-link {
  display: block;
  padding: 25px 82px 25px 40px;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  text-decoration: none;
  transition: all 500ms;
}

.menu-item-link:hover {
  background: #dbdbdb;
  padding-left: 70px;
}

.content {
  width: 65%;
}

.content-img {
  border: 1px solid #485863;
  display: flex;
  justify-content: center;
  padding: 74px 280px;
  margin-bottom: 37px;
}

.first-par {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 34px;
}

.last-par {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 54px;
}

.footer-list {
  display: flex;
  justify-content: center;
  background: #63696e7a;
}

.footer-list-item {
  display: inline-block;
  text-decoration: none;
  padding: 15px 40px 15px 40px;
  color: #0c1927;
  font-size: 22px;
  line-height: 28px;
}

.footer-list-item:hover {
  text-decoration: underline #4188a8;
  color: #3181a6;
}

.last-child {
  margin-left: auto;
}
