.root {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid lightgray;
  position: relative;


  &:hover {
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.34);
  }

  p {
    font-size: 28px;
    width: 100%;
    text-align: center;

  }

  img {
    height: 70%;
    width: 70%;
  }

  span {
    font-size: 18px;
    color: grey;
  }
}

.favourites {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  user-select: none;

}